<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trimet Simulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>756D7CFE1EF790E70046EBAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>756D7D141EF790E80046EBAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>756D7D1F1EF790E80046EBAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
